@media screen and (min-width: 768px) {
    main article {
        max-width: 1024px;
    }
}


h2 a
{
    color: white;
}

h1
{
    color: #8aa2d3;
    font-weight: 500;
}

h2
{
    color: #8aa2d3;
    font-weight: 200;
}

h3
{
    color: #8aa2d3;
    font-weight: 500;
}

h4
{
    color: #8aa2d3;
    font-weight:300;
}

/* white on red tags */
div.tag-cloud p 
{
    font-weight:490;
}

/* inline ```code``` inside a para */

main article :not(pre) > code {
    color:#66d9ef;
    background-color: #333;
    border:none;
    font-size:0.9em;
}

p {
    line-height: 1.5em;
}


p, li {
    line-height:1.5em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body 
{
    color:#999;
}